*

!/.devcontainer/
!/.github/
!/bootstrap/
!/packages/
!/packages/hls/
!/patches/
!/prior/

!/.github/FUNDING.yml
!/bootstrap/*.Dockerfile
!/bootstrap/*.patch
!/packages/hls/*.Dockerfile
!/patches/*.patch
!/prior/*.Dockerfile

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitlab-ci.yml
!/.hadolint.yaml
!/CODE_OF_CONDUCT.md
!/latest.Dockerfile
!/LICENSE
!/Main.hs
!/README.md
!/SECURITY.md
!/Stack.Dockerfile
!/VERSION_MATRIX.md
