*

!/.devcontainer/
!/.github/
!/bootstrap/
!/patches/
!/dockerfiles/

!/.github/FUNDING.yml
!/bootstrap/*.Dockerfile
!/bootstrap/*.patch
!/patches/*.patch
!/dockerfiles/*.Dockerfile

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitlab-ci.yml
!/.hadolint.yml
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/LICENSE
!/Main.hs
!/README.md
!/SECURITY.md
!/VERSION_MATRIX.md
